Source: kmre-apk-installer
Section: x11
Priority: optional
Maintainer: lixiang <lixiang@kylinos.cn>
Build-Depends: debhelper (>=9),
               cmake,
               make,
               pkg-config,
               qt6-base-dev (>= 6.0),
               qt6-tools-dev,
               qt6-svg-dev,
               libx11-dev,
               libssl-dev,
Standards-Version: 3.9.8
Homepage: https://www.kylinos.cn

Package: kmre-apk-installer
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         aapt,
         android-libaapt,
         android-libandroidfw,
         android-libbacktrace,
         android-libbase,
         android-libcutils,
         android-liblog,
         android-libunwind,
         android-libutils,
         android-libziparchive,
         libpng16-16,
         zlib1g,
Description: kmre apk installer
 A qt window to install apk packages.