Source: kmre-apk-installer
Section: x11
Priority: optional
Maintainer: lixiang <lixiang@kylinos.cn>
Build-Depends: debhelper (>=9),
               pkg-config,
               qtbase5-dev (>= 5.1),
               qt5-qmake,
               qt5-default | qtchooser,
               qtscript5-dev,
               qttools5-dev-tools,
               qtbase5-dev-tools,
               libqt5x11extras5-dev,
               libqt5widgets5,
               libqt5concurrent5,
               libx11-dev,
               libssl-dev,
               libqt5svg5-dev,
Standards-Version: 3.9.8
Homepage: https://www.kylinos.cn

Package: kmre-apk-installer
Architecture: arm64 amd64
Depends: ${shlibs:Depends},
         ${misc:Depends},
         aapt,
         android-libaapt,
         android-libandroidfw,
         android-libbacktrace,
         android-libbase,
         android-libcutils,
         android-liblog,
         android-libunwind,
         android-libutils,
         android-libziparchive,
         libpng16-16,
         zlib1g,
Description: kmre apk installer
 A qt window to install apk packages.
